.banner {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  line-height: 1.3em;
}

.banner__punchline {
  display: inline-block;
  padding: 2px 12px;
  font-size: 0.7em;
  position: relative;
  vertical-align: 0.12em;
  font-family: Consolas;
  text-shadow:0 1px 0 #fff;

  background: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%,#f6f6f6 53%,#fdfdfd 100%);
  box-shadow: 1px 1px 2px 0px rgba(48,48,48,1);
}

@keyframes tilt_slow {
  from { transform: rotate(-2deg); }
  to { transform: rotate(2deg); }
}

.banner--tilt_slow {
  animation-name: tilt_slow;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
