@keyframes button-jitter {
  0% { transform: translate(0, 0) rotate(0); }
  50% { transform: translate(-0.1em, 0.1em) rotate(2deg); }
  100% { transform: translate(0.1em, -0.1em) rotate(-2deg); }
}

.button {
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 1em;
  /*font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;*/
  font-family: Consolas;
  font-size: 18px;
  border-radius: 2px;

  text-shadow:0 1px 0 #fff;
  background: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%,#f6f6f6 53%,#fdfdfd 100%);
  box-shadow: 1px 1px 2px 0px rgba(48,48,48,1);
  transition: box-shadow 100ms ease-out;
}

.button:hover {
  box-shadow: 3px 5px 3px 0px rgba(48,48,48,0.4);
}

.button--animated {
  animation: button-jitter;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button--animated:nth-of-type(2n) {
  animation-delay: 2s;
}

.button:first-of-type {
  margin-right: 5em;
}